@font-face {
	font-family: 'AshemoreCondRegular';
	src: url('../fonts/AshemoreCondRegular/AshemoreCondRegular.eot'); /* IE9 Compat Modes */
	src:
	url('../fonts/AshemoreCondRegular/AshemoreCondRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/AshemoreCondRegular/AshemoreCondRegular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/AshemoreCondRegular/AshemoreCondRegular.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/AshemoreCondRegular/AshemoreCondRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/AshemoreCondRegular/AshemoreCondRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'AshemoreCondLight';
	src: url('../fonts/AshemoreCondLight/AshemoreCondLight.eot'); /* IE9 Compat Modes */
	src:
	url('../fonts/AshemoreCondLight/AshemoreCondLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/AshemoreCondLight/AshemoreCondLight.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/AshemoreCondLight/AshemoreCondLight.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/AshemoreCondLight/AshemoreCondLight.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/AshemoreCondLight/AshemoreCondLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'AshemoreCondMedium';
	src: url('../fonts/AshemoreCondMedium/AshemoreCondMedium.eot'); /* IE9 Compat Modes */
	src:
	url('../fonts/AshemoreCondMedium/AshemoreCondMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/AshemoreCondMedium/AshemoreCondMedium.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/AshemoreCondMedium/AshemoreCondMedium.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/AshemoreCondMedium/AshemoreCondMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/AshemoreCondMedium/AshemoreCondMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'BEBAS';
	src: url('../fonts/BEBAS/BEBAS.eot'); /* IE9 Compat Modes */
	src:
	url('../fonts/BEBAS/BEBAS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/BEBAS/BEBAS.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/BEBAS/BEBAS.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/BEBAS/BEBAS.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/BEBAS/BEBAS.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'ChaletComprimeCologneEighty';
	src: url('../fonts/ChaletComprime-CologneEighty/ChaletComprimeCologneEighty.eot'); /* IE9 Compat Modes */
	src:
	url('../fonts/ChaletComprime-CologneEighty/ChaletComprimeCologneEighty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/ChaletComprime-CologneEighty/ChaletComprimeCologneEighty.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/ChaletComprime-CologneEighty/ChaletComprimeCologneEighty.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/ChaletComprime-CologneEighty/ChaletComprimeCologneEighty.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/ChaletComprime-CologneEighty/ChaletComprimeCologneEighty.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'ChaletComprimeCologneSixty';
	src: url('../fonts/ChaletComprime-CologneSixty/ChaletComprimeCologneSixty.eot'); /* IE9 Compat Modes */
	src:
	url('../fonts/ChaletComprime-CologneSixty/ChaletComprimeCologneSixty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/ChaletComprime-CologneSixty/ChaletComprimeCologneSixty.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/ChaletComprime-CologneSixty/ChaletComprimeCologneSixty.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/ChaletComprime-CologneSixty/ChaletComprimeCologneSixty.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/ChaletComprime-CologneSixt`y/ChaletComprimeCologneSixty.svg#svgFontName') format('svg'); /* Legacy iOS */
}
