{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_f %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_g %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_t %}{{ seo.get_seo_title }}{% endblock %}

{% block seo_description %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_f %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_g %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_t %}{{ seo.get_seo_description }}{% endblock %}

{% block seo_image %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_f %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_g %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_t %}{{ seo.get_seo_image }}{% endblock %}

{% block content %}

<div class="blog_list_page">
	<div class="alpha1">
		<div class="container">
			<div class="bravo1">
				<h1 class="t_text206"></h1>
				<hr>
				<h2 class="t_text207"></h2>
				<div class="charlie1 t_text208"></div>
			</div>
		</div>
	</div>
	<div class="alpha2">
		{% include "blog/includes/blog_list_block.html" with object_list=object_list %}
	</div>
</div>

{% endblock %}
