{% load text_extras %}

{% query text_list id='423' as text423 %}
{% query text_list id='424' as text424 %}
{% query text_list id='425' as text425 %}
{% query text_list id='426' as text426 %}
{% query text_list id='335' as text335 %}

<h4 style="font-weight: 200;">{{ text423.get_text }} {{ instance.name }},</h4>
<h4 style="font-weight: 200;">{{ text424.get_text|safe }}</h4>
<a style="color: #000;" href="{{ text426.get_text }}">{{ text425.get_text }}</a>

<p>
	{{ text335.t_CharField }} : {{ instance.created_on }}
</p>
