{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
<div class="row t1_alpha">
    <div class="col">
        <hr>
    </div>
    <div class="col-6">
        <h1 class="text-center">{% trans "Change Password" %}</h1>
    </div>
    <div class="col">
        <hr>
    </div>
</div>

<p class="text-center">{% trans 'Your password is now changed.' %}</p>

{% endblock %}
