{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block account_content %}

<div class="row t1_alpha">
    <div class="col">
        <hr>
    </div>
    <div class="col-6">
        <h1 class="text-center">{% trans "Set Password" %}</h1>
    </div>
    <div class="col">
        <hr>
    </div>
</div>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="cap_button" type="submit" name="action" value="{% trans 'Set Password' %}"/>
</form>

{% endblock %}
