{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_f %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_g %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_t %}{{ seo.get_seo_title }}{% endblock %}

{% block seo_description %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_f %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_g %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_t %}{{ seo.get_seo_description }}{% endblock %}

{% block seo_image %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_f %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_g %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_t %}{{ seo.get_seo_image }}{% endblock %}

{% block content %}

<div class="product_list_page">
	<div class="alpha1">
		<div class="container">
			<div class="row t1_alpha bravo1">
				<div class="col align-self-center">
					<hr>
				</div>
				<div class="col-6">
					<h1 class="t_text172"></h1>
				</div>
				<div class="col align-self-center">
					<hr>
				</div>
				<div class="col-md-12 col-xs-12 t_text173"></div>
			</div>
		</div>
		<div class="bravo2">
			<img src="" class="t_text270">
		</div>
	</div>
	<div class="alpha2">
		<div class="container">
			{% regroup product_list|dictsort:"category.id" by category as category_list %}
			{% for category in category_list %}
			<div class="row t1_alpha bravo1">
				<div class="col align-self-center">
					<hr>
				</div>
				<div class="col-6">
					<h1 class="text-uppercase text-center">{{ category.grouper }}</h1>
				</div>
				<div class="col align-self-center">
					<hr>
				</div>
			</div>
			<div class="row justify-content-md-center bravo2">
				{% for product in category.list %}
				{% include "product/includes/product_block.html" with object=product col_class_set="col-md-2 col-sm-4 col-6" %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
