{% extends "base.html" %}

{% block head_title %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_f %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_g %}{{ seo.get_seo_title }}{% endblock %}
{% block head_title_t %}{{ seo.get_seo_title }}{% endblock %}

{% block seo_description %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_f %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_g %}{{ seo.get_seo_description }}{% endblock %}
{% block seo_description_t %}{{ seo.get_seo_description }}{% endblock %}

{% block seo_image %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_f %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_g %}{{ seo.get_seo_image }}{% endblock %}
{% block seo_image_t %}{{ seo.get_seo_image }}{% endblock %}

{% block content %}

{% if object_list|length <= 0 %}
<div class='col-sm-6 col-sm-offset-3 text-center'>
    <p class='t_text398 lead'></p>
</div>
{% else  %}
<div class='col-sm-6 col-sm-offset-3'>
    <h1 class="t_text401"></h1>
    <table class='table'>
        {% for object in object_list %}
        <tr>
            <td>
                <a href='{{ object.get_absolute_url }}'><span class="t_text399"></span> #{% if object.order_id %}{{ object.order_id }}{% else %}{{ object.id }}{% endif %}</a>
            </td>
            <td>
                <span class="t_text400"></span> {{ object.cart.items.count }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}
