{% load static %}

<div class="{{ col_class_set }} product_block">
	<div class="product_block_alpha1">
		<div class="product_block_bravo2">
			<form id="add-form_{{ product.id }}">
				{% include "product/includes/product_block/product_info.html" %}
				{% if product.variation_set.first.inventory > 0 or product.variation_set.first.no_out_of_stock %}
				<div class="product_block_charlie2">
					{% include "product/includes/product_block/quantity_update.html" %}
					<div class="product_block_delta2">
						{% if request.user.is_authenticated and request.user.profile.status == 'b'%}
						<a class="cap_button cap_button_v3 t_text193" onclick="var q =$('#cart'+{{ product.id }}).val(); var img =$('.product_img_'+{{ product.id }}).attr('src'); addToCart({{ product.id }}, '{{ product.name }}', '{{ product.description }}', '{{ product.variation_set.first.price_pro }}', q, img)"></a>
						{% else %}
						<a class="cap_button cap_button_v3 t_text193" onclick="var q =$('#cart'+{{ product.id }}).val(); var img =$('.product_img_'+{{ product.id }}).attr('src'); addToCart({{ product.id }}, '{{ product.name }}', '{{ product.description }}', '{{ product.variation_set.first.price_public }}', q, img)"></a>
						{% endif %}
					</div>
					<div class="product_block_delta3"></div>
				</div>
				{% else %}
				<div class="product_block_charlie3">
					<div class="product_block_delta1">
						<p class="t_text192"></p>
					</div>
				</div>
				{% endif %}
			</form>
		</div>
	</div>
</div>
